
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
          url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
          url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  }
    
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
  }
    
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
          url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
          url('../fonts/roboto-v20-latin-300.woff') format('woff');
  }
    
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
          url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
          url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
      
  body {
    background-size: cover;
    line-height: 1.2;
  }
      
  ul,
  li {
    list-style: none;
  }
      
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
      
  /*a {
    text-decoration: none;
    text-transform: uppercase;
  }
  h1 {
    white-space: pre-line;
  }
      
  h2, h3 {
    text-transform: uppercase;
  }
    
  p {
    text-transform: none;
  }*/ 
  
  /*--------------------header-------------------------*/
  
  .header-page {
    padding: 20px 0 140px 0;
    background-color: #000000;
    background-image: url(../image/mobile-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    width: 280px;
    margin: 0 auto; 
  }
  
  .nav-page-promo {
    padding: 0px 10px 40px 10px;  
  }
  
  .nav-page-promo-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 116px;  
  }
  
  .nav-page-promo-list-item:not(:last-child) {
    margin-right: 20px;
  }
  
  .nav-page-promo-list-item-button {
    border: none;
    outline: none;  
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    position: relative;
  }
  
  .item-button-rigth {
    width: 90px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }
  
  .item-button-rigth:hover {
    background-color: #ff4e50;
    transition: background-color 0.2s linear;
  }
  
  .item-button-left:hover {
    color: #ff4e50;
    transition: color 0.2s linear;
    
   }
  
  .item-button-left:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
  } 
  
  .item-button-left::after {
    content: "";
    display: block;
    background-color: #ff4e50;
    width: 0%;
    height: 3px;
    bottom: -12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
    opacity: 0;
    visibility: hidden;
  }
  
  .nav-page-promo-logotype-link {
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
  }
  
  .nav-page-promo-logotype-link:hover {
    color: #ff4e50;
    transition: color 0.2s linear;
  }
  
  .hero {
    text-align: center;
  }
  
  .hero-title {
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 1.75rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .hero-text {
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 300;
    color: #ffffff;  
  }
  
  .hero-button {
    padding: 8px 40px;  
    background-color: rgb( 255, 78, 80 );
    border: none;
    border-radius: 20px;
    outline: none;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: rgb(255, 5, 9);
    transition: background-color 0.2s linear;  
  }
  
  /*------------------------main-----------------*/
  
  .main-page {
    margin: 0px auto;
    padding: 70px 0 56px 0;
    background-color: #ffffff;
  }
  
  .page-partners {
    text-align: center;  
  }
  
  .page-partners-title {
    padding-bottom: 20px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 1.3738rem;
    font-weight: 700;
    color: #333333;
    text-transform: none;
  }
  
  .page-partners-list {  
    padding-bottom: 30px;    
  }
  
  .page-partners-list-item {
    width: 280px;
  }
  
  .partners-item-photo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; 
    position: relative;
    width: 122px;
    height: 122px;
  }
  
  .partners-item-photo::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    border: 4px solid #ffffff;
    border-radius: 50%;
  }
  
  .partners-icon-bradley-hunter-man::before{
    background-color: rgb( 255, 78, 80 );
    background-image: url(../image/icon/tv.png); 
  }
  
  .partners-icon-lucas-marsha::before{
    background-color: rgb( 255, 165, 7 );
    background-image: url(../image/icon/flask.png);
  }
  
  .partners-icon-heather-walker::before{
    background-color: rgb( 28, 215, 173 );
    background-image: url(../image/icon/coffee.png); 
  }
  
  .partners-icon-bradley-hunter-girl::before{
    background-color: rgb( 78, 115, 219 );
    background-image: url(../image/icon/airplane.png); 
  }
  
  .partners-item-photo-img {
    border-radius: 50%;
  }
  
  .partners-item-title {
    padding-bottom: 16px;
    font-family: 'Montserrat';
    font-size: 0.8731rem;
    font-weight: 700;
    color: #333333;
    text-transform: none;
  }
  
  .partners-item-text {
    font-family: 'Roboto';
    font-size: 0.8731rem;
    font-weight: 300;
    color: #666666;
  }
  
  .partners-item-button {
    margin: 0 auto;
    padding: 10px 50px;
    width: 280px;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;  
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    color: #ff4e50;
    text-transform: none;
  }
  
  .partners-item-button:hover{
    color: #ffffff;
    background-color: rgb( 255, 78, 80 );
    transition: background-color 0.2s linear;
  }
  
  
  @media (max-width: 767px) {
    .page-partners-list-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  /*-----------------tablet-----------------------*/
  
  @media (min-width: 768px) {  
    .header-page {
      padding: 40px 0 234px 0;
      background-image: url(../image/tablet-img.png);
    }
  
    .container {  
      width: 728px;
      margin: 0 auto;     
    }
  
    .nav-page-promo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;
      padding: 0px 28px 40px 30px;  
    } 
  
    .nav-page-promo-list {
      margin-bottom: 110px;
    }
  
    .hero-title {
      font-size: 3.2481rem;
    }
  
    .hero-text {
      font-size: 1.4994rem;
    }
  
    .hero-button {
      font-size: 0.8744rem;
      padding: 14px 20px;
    }
  
    /*-------------------main--------------*/
  
    .main-page {
      padding: 70px 0 40px 0;
    } 
  
    .page-partners-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;    
      padding-bottom: 40px;
    }
  
    .page-partners-list-item:not(:nth-last-child(-n+2)) {
      margin-bottom: 60px;
    }
  
    .partners-item-button {
      font-size: 0.8738rem;
      padding: 10px 30px;
    }
  }
  
  @media (max-width: 979px) {
    .page-partners-list-item:not(:nth-last-child(-n+2)) {
      margin-bottom: 60px;
    }
  }
  
  /*-------------------desktop------------------------*/
  
  @media (min-width: 980px) {
    .header-page {
      padding: 46px 0 234px 0;
      background-image: url(../image/desktop-img.png);
    }
  
    .container {  
      width: 940px;
      margin: 0 auto;     
    }
  
    .hero-title {
      font-size: 3.25rem;
    }
  
    .hero-text {
      font-size: 1.5rem;
    }
  
    .hero-button {
      font-size: 0.875rem;
      padding: 14px 24px;
    }
  
  /*----------------------main-------------*/
  
    .main-page {
      padding: 70px 0px;
    }
  
    .page-partners-list {
      flex-wrap: nowrap;
    }
  
    .page-partners-list-item:nth-child(n) {
      margin-bottom: 0;
    }
  
    .partners-item-button {
      font-size: 0.875rem;
    }
  }
  